html {
  touch-action: manipulation;
  box-sizing: border-box;
  font-size: calc(100vw / 7.5 * 2);
  font-size: 100px;
}
* {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.5715;
  font-size: 14px;
  color: #333333;
  background-color: #fff;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  font-family: 'MiSans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

img {
  vertical-align: middle;
  border-style: none;
}

input:focus {
  outline: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

input,
button,
textarea {
  border: 0;
  font-size: 14px;
  font-family: inherit;
  outline: none;
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-appearance: text;
  appearance: text;
}
.border_t,
.border_b {
  position: relative;
}
.border_t::before,
.border_b::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 1px;
  width: 100%;
}
.border_t::before {
  top: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(60%, rgba(0, 0, 0, 0.05)),
    color-stop(0%, rgba(0, 0, 0, 0))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0) 0%
  );
}
.border_b::after {
  bottom: 0;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(60%, rgba(0, 0, 0, 0.05)),
    color-stop(0%, rgba(0, 0, 0, 0))
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.05) 60%,
    rgba(0, 0, 0, 0) 0%
  );
}

ul {
  padding: 0;
  list-style: none;
}
